.resumeMain {
  .scene1 {
    .onGround {
      background-color: rgb(0,191,243);
      height: 79vh;
      width: 300vw;
    }
    .ground {
      background-color: rgb(141,198,63);
      height: 5vh;
      width: 300vw;
    }
  }
}
